body{
    background-color: rgb(204, 255, 204);
}

h1{
    color:goldenrod;
    font-size: 18px;
    font-style: bold;
    font-family: "Arial, Helvetica, sans-serif";
}

p{
    color:midnightblue;
    font-size: 25px;
    font-style: bold; 
    font-family: fantasy;
}

p1{
    color:goldenrod;
    font-size: 25px;
    font-style: bold;
    font-family: fantasy;
}

p2{
    color: midnightblue;
    font-size: 18px;
    font-style: normal;
    font-family: fantasy;
}

p3{
    color: midnightblue;
    font-size: 18px;
    font-style: normal;
    font-family: fantasy;
}

p4{
    color: midnightblue;
    font-size: 18px;
    font-style: normal;
    font-family: fantasy;
}